{% extends "base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block title %}ログイン・フォーム{% endblock title %}

{% block content %}
    <h3 class="page-header">ログイン・フォーム</h3>
    <h4>ログインしてください。</h4>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="form-group">
             {{ form.username.label_tag }}
             {% render_field form.username class+="form-control" %}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {% render_field form.password class+="form-control" %}
        </div>

        <button type="submit" class="btn btn-default" value="login">Submit</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock content %}