{% extends "base.html" %}
{% load bootstrap %}

{% block title %}出版社の編集{% endblock title %}

{% block content %}
    <h3 class="page-header">出版社の編集</h3>
    {% if pk %}
        <form action="{% url 'cms:publisher_mod' pk=pk %}" method="post" class="form-horizontal" role="form">
    {% else %}
        <form action="{% url 'cms:publisher_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button style="submit" class="btn btn-primary">送信</button>
                    </div>
                </div>
            </div>
        </form>
        <a href="{% url 'cms:publisher_list' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}
